<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://piasysstockquote.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6db067a0-7676-4104-87ef-61054391bf40/resourceGroups/PiaSys-Demos/providers/Microsoft.Web/sites/piasysstockquote</ResourceId>
    <UserName>$piasysstockquote</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://piasysstockquote.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>