.fileDetailsDialogRoot {

    text-align: left;
    vertical-align: middle;
    max-width: 100%;
    width : 600px;
    max-height: 100%;
    height : 400px;
  
    .fileDetailsDialogContent {
      text-align: left;
      vertical-align: middle;
    }
  }
  
  .rowSpacing {
    margin-bottom: 10px;
    text-align: left;
  }