<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://piasys-security-tutorial-func.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/d5613b48-e2b5-4bcb-81cb-fe54af28b8cd/resourceGroups/security-tutorial/providers/Microsoft.Web/sites/piasys-security-tutorial-func</ResourceId>
    <UserName>$piasys-security-tutorial-func</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://piasys-security-tutorial-func.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>